html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: 70px;
  font-family: 'GT America', sans-serif;
  background-color: #ffffff;
  color: #222;
  overflow-x: hidden;
}

.breadcrumbs {
  font-size: 14px;
  margin: 1rem 2rem;
  padding-top: 12px;
  color: #6b6b6b;
  font-family: 'GT America', sans-serif;
}

.breadcrumbs a {
  color: #3c3737;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs span {
  color: #999;
  font-weight: 500;
}
