html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: 70px;
  font-family: 'GT America', sans-serif;
  background-color: #ffffff;
  color: #222;
  overflow-x: hidden;
}

.breadcrumbs-container {
  display: flex;
  justify-content: center;
  margin-top: 70px; 
  margin-bottom: 20px;
}

.breadcrumbs {
  font-size: 14px;
  color: #6b6b6b;
  font-family: 'GT America', sans-serif;
}

.breadcrumbs a {
  color: #3c3737;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs span {
  color: #999;
  font-weight: 500;
}

.wishlist-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #f1eeea;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  z-index: 10;
}

.wishlist-btn.active {
  color: #3f1e1f;
}

