.add-to-cart-btn button {
  flex: min-w-(84px) max-w-(480px);
  cursor: pointer;
  justify-items: center;
  overflow: hidden;
  background-color: bg-(#e68019);
  color: text-(#181411);
  font-size: text-sm;
  font-weight: font-bold;
  line-height: leading-normal;
  letter-spacing: tracking-(0.015em);
}